<app-page-header title="Terms" title1="Extension" activeitem="Terms"></app-page-header>
      <!-- CONTAINER -->
      <div class="main-container container-fluid">

       
          
          <div class="container">
              <!-- ROW-1 OPEN -->
              <div class="row ">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header">
                              <div class="d-flex justify-content-center align-items-center m-2">
                                  <img class="me-2 w-40p" src="./assets/images/icons/1.png" alt="">
                                  <div>
                                      <h5 class="mb-0"><b>Terms Of Services</b></h5>
                                      <p class="mb-0 text-muted">Last Updated Jan 27, 2023</p>
                                  </div>
                              </div>
                          </div>
                          <div class="card-body p-0">
                              <div class="d-lg-flex d-block">
                                  <div class="p-4 border-end w-100">
                                      
                                      
                                      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-pills ms-3" id="vertical-tab" role="tablist" aria-orientation="vertical">
                                          <li [ngbNavItem]="1" className="nav-link text-start" id="vertical-terms-tab"><a ngbNavLink ><i class="bi bi-gear me-2"></i> General Terms and Conditions</a>
                                              <ng-template ngbNavContent>
                                                  <div class="tab-pane " id="vertical-terms" role="tabpanel" aria-labelledby="vertical-terms-tab" tabindex="0">
                                                      <h5><b> Terms :</b></h5>
                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                      <h5><b>Using Our Services</b></h5>
                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                      <h5><b>Privacy policy</b></h5>
                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                      <h5><b>Copyright </b></h5>
                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
          
                                                  </div>
                                              </ng-template>
                                          </li>
                                    
                                                  <li [ngbNavItem]="2" className="nav-link text-start " id="vertical-accept-tab"><a ngbNavLink ><i class="bi bi-person-check me-2"></i> Acceptable Use Policy</a>
                                                      <ng-template ngbNavContent>
                                                          <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-accept-tab" tabindex="0">
                                                              <h5><b> Terms :</b></h5>
                                              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                              <h5><b>Using Our Services</b></h5>
                                              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                              <h5><b>Privacy policy</b></h5>
                                              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                           
                          
                                                          </div>
                                                          </ng-template>
                                                          </li>
                                                          <li [ngbNavItem]="3" className="nav-link text-start " id="vertical-cancellation-tab"><a ngbNavLink ><i class="bi bi-x-circle me-2"></i> Cancellation Policy</a>
                                                              <ng-template ngbNavContent>
                                                                  <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-cancellation-tab" tabindex="0">
                                                                      <h5><b> Terms :</b></h5>
                                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                      <h5><b>Using Our Services</b></h5>
                                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                      <h5><b>Privacy policy</b></h5>
                                                                      <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                          truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                          <h5><b>Copyright </b></h5>
                                                                          <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                              truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                  </div>
                                                                  </ng-template>
                                                                  </li>
                                                                  <li [ngbNavItem]="4" className="nav-link text-start " id="vertical-privacy-tab"><a ngbNavLink ><i class="bi bi-shield-check me-2"></i> Privacy Policy</a>
                                                                      <ng-template ngbNavContent>
                                                                          <div class="tab-pane  terms" id="vertical-accept" role="tabpanel" aria-labelledby="vertical-accept-tab" tabindex="0">
                                                                              <h5><b> Terms :</b></h5>
                                                                              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                              <h5><b>Using Our Services</b></h5>
                                                                              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                              <h5><b>Privacy policy</b></h5>
                                                                              <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                                  truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                                  <h5><b>Copyright </b></h5>
                                                                                  <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the
                                                                                      truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
                                                                          </div>
                                                                          </ng-template>
                                                                          </li>
                                                  </ul>
          
                                  </div>
                                 
                                         
                                  <div class="p-4">
                                      <div class="tab-content terms" id="vertical-tabContent">
                         
                                     
                                       
                                          <div [ngbNavOutlet]="nav" ></div>
          
                              </div>
                          </div>
                                      </div>
                                 
                          </div>
                          <div class="card-footer">
                              <div class="form-check d-inline-block">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                  <label class="form-check-label" for="flexCheckChecked">
                                      Send a copy on my email
                                  </label>
                              </div>
                              <div class="float-end d-inline-block btn-list">
                                  <a class="btn btn-primary">Decline</a>
                                  <a class="btn btn-secondary">Agree and Continue</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ROW-1 CLOSE -->
          </div>
      </div>
      <!-- CONTAINER CLOSED -->

