<app-page-header title="Notifications" title1="Adminui" activeitem="Notifications" ></app-page-header>

      <!-- CONTAINER -->
      <div class="main-container container-fluid">
          <!-- ROW-1 OPEN -->
          <div class="row">
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Basic Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-primary" id="basic" (click)="showDefault()">Basic Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Info Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-info" id="info" (click)="showInfo()">Info Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Success Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-success" id="success" (click)="showSuccess()">Success Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Warning Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-warning" id="warning" (click)=" ShowWarning()">Warning Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Error Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-danger" id="error"(click)=" showError()" >Error Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Confirmation Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-primary" id="confirm" (click)="Info()">Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Async Block With Error Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-primary"  id="async" (click)=" showError()">Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Async Block With Success Notification</h3>
                      </div>
                      <div class="card-body">
                          <div class="card-content">
                              <div class="btn-list">
                                  <button type="button" class="btn btn-primary"  id="async-block" (click)="showSuccess()">Notification</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- COL-END -->
          </div>
          <!-- ROW-1 CLOSED -->
      </div>
      <!-- CONTAINER CLOSED -->