<app-page-header title="Data Tables" title1="Tables" activeitem="Data Tables"></app-page-header>
<div class="main-container container-fluid">

<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Basic Datatable</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-basic-angular-table></app-basic-angular-table>

        </div>
      </div>
    </div>
  </div>
</div>
<!--End::row-1 -->

<!-- Start:: row-2 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Sortable DataTable</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
        <app-sortable-data class="sortable-table"></app-sortable-data>
      </div>


      </div>
    </div>
  </div>
</div>
<!-- End:: row-2 -->

<!-- Start:: row-3 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Responisve Modal Datatable</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-add-remove-data></app-add-remove-data>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-3 -->

<!-- Start:: row-4 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Reactivity DataTable</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-add-remove-data></app-add-remove-data>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-4 -->

<!-- Start:: row-8 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Selection Table</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <app-selection-data-table></app-selection-data-table>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-8 -->
</div>

