<app-page-header title="Simpleline Icons" title1="Icons" activeitem="Simpleline Icons"></app-page-header>
<div class="main-container container-fluid">
 <!-- ROW OPEN -->
 <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Simpleline Icons</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <p>Simply beautiful open source icons. For more info <a href="https://simplelineicons.github.io/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="icon icon-user"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="icon icon-user" data-bs-toggle="tooltip" ngbTooltip="icon-user"></i></li>
                                <li class="icons-list-item"><i class="icon icon-people" data-bs-toggle="tooltip" ngbTooltip="icon-people"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-female" data-bs-toggle="tooltip" ngbTooltip="icon-user-female"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-follow" data-bs-toggle="tooltip" ngbTooltip="icon-user-follow"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-following" data-bs-toggle="tooltip" ngbTooltip="icon-user-following"></i></li>
                                <li class="icons-list-item"><i class="icon icon-user-unfollow" data-bs-toggle="tooltip" ngbTooltip="icon-user-unfollow"></i></li>
                                <li class="icons-list-item"><i class="icon icon-login" data-bs-toggle="tooltip" ngbTooltip="icon-login"></i></li>
                                <li class="icons-list-item"><i class="icon icon-logout" data-bs-toggle="tooltip" ngbTooltip="icon-logout"></i></li>
                                <li class="icons-list-item"><i class="icon icon-emotsmile" data-bs-toggle="tooltip" ngbTooltip="icon-emotsmile"></i></li>
                                <li class="icons-list-item"><i class="icon icon-phone" data-bs-toggle="tooltip" ngbTooltip="icon-phone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-call-end" data-bs-toggle="tooltip" ngbTooltip="icon-call-end"></i></li>
                                <li class="icons-list-item"><i class="icon icon-call-in" data-bs-toggle="tooltip" ngbTooltip="icon-call-in"></i></li>
                                <li class="icons-list-item"><i class="icon icon-call-out" data-bs-toggle="tooltip" ngbTooltip="icon-call-out"></i></li>
                                <li class="icons-list-item"><i class="icon icon-map" data-bs-toggle="tooltip" ngbTooltip="icon-map"></i></li>
                                <li class="icons-list-item"><i class="icon icon-location-pin" data-bs-toggle="tooltip" ngbTooltip="icon-location-pin"></i></li>
                                <li class="icons-list-item"><i class="icon icon-direction" data-bs-toggle="tooltip" ngbTooltip="icon-direction"></i></li>
                                <li class="icons-list-item"><i class="icon icon-directions" data-bs-toggle="tooltip" ngbTooltip="icon-directions"></i></li>
                                <li class="icons-list-item"><i class="icon icon-compass" data-bs-toggle="tooltip" ngbTooltip="icon-compass"></i></li>
                                <li class="icons-list-item"><i class="icon icon-layers" data-bs-toggle="tooltip" ngbTooltip="icon-layers"></i></li>
                                <li class="icons-list-item"><i class="icon icon-menu" data-bs-toggle="tooltip" ngbTooltip="icon-menu"></i></li>
                                <li class="icons-list-item"><i class="icon icon-list" data-bs-toggle="tooltip" ngbTooltip="icon-list"></i></li>
                                <li class="icons-list-item"><i class="icon icon-options-vertical" data-bs-toggle="tooltip" ngbTooltip="icon-options-vertical"></i></li>
                                <li class="icons-list-item"><i class="icon icon-options" data-bs-toggle="tooltip" ngbTooltip="icon-options"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-down" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-left" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-right" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-up" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-up-circle" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-up-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-left-circle" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-left-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-right-circle" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-right-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-arrow-down-circle" data-bs-toggle="tooltip" ngbTooltip="icon-arrow-down-circle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-check" data-bs-toggle="tooltip" ngbTooltip="icon-check"></i></li>
                                <li class="icons-list-item"><i class="icon icon-clock" data-bs-toggle="tooltip" ngbTooltip="icon-clock"></i></li>
                                <li class="icons-list-item"><i class="icon icon-plus" data-bs-toggle="tooltip" ngbTooltip="icon-plus"></i></li>
                                <li class="icons-list-item"><i class="icon icon-minus" data-bs-toggle="tooltip" ngbTooltip="icon-minus"></i></li>
                                <li class="icons-list-item"><i class="icon icon-close" data-bs-toggle="tooltip" ngbTooltip="icon-close"></i></li>
                                <li class="icons-list-item"><i class="icon icon-event" data-bs-toggle="tooltip" ngbTooltip="icon-event"></i></li>
                                <li class="icons-list-item"><i class="icon icon-exclamation" data-bs-toggle="tooltip" ngbTooltip="icon-exclamation"></i></li>
                                <li class="icons-list-item"><i class="icon icon-organization" data-bs-toggle="tooltip" ngbTooltip="icon-organization"></i></li>
                                <li class="icons-list-item"><i class="icon icon-trophy" data-bs-toggle="tooltip" ngbTooltip="icon-trophy"></i></li>
                                <li class="icons-list-item"><i class="icon icon-screen-smartphone" data-bs-toggle="tooltip" ngbTooltip="icon-screen-smartphone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-screen-desktop" data-bs-toggle="tooltip" ngbTooltip="icon-screen-desktop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-plane" data-bs-toggle="tooltip" ngbTooltip="icon-plane"></i></li>
                                <li class="icons-list-item"><i class="icon icon-notebook" data-bs-toggle="tooltip" ngbTooltip="icon-notebook"></i></li>
                                <li class="icons-list-item"><i class="icon icon-mustache" data-bs-toggle="tooltip" ngbTooltip="icon-mustache"></i></li>
                                <li class="icons-list-item"><i class="icon icon-mouse" data-bs-toggle="tooltip" ngbTooltip="icon-mouse"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnet" data-bs-toggle="tooltip" ngbTooltip="icon-magnet"></i></li>
                                <li class="icons-list-item"><i class="icon icon-energy" data-bs-toggle="tooltip" ngbTooltip="icon-energy"></i></li>
                                <li class="icons-list-item"><i class="icon icon-disc" data-bs-toggle="tooltip" ngbTooltip="icon-disc"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cursor" data-bs-toggle="tooltip" ngbTooltip="icon-cursor"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cursor-move" data-bs-toggle="tooltip" ngbTooltip="icon-cursor-move"></i></li>
                                <li class="icons-list-item"><i class="icon icon-crop" data-bs-toggle="tooltip" ngbTooltip="icon-crop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-chemistry" data-bs-toggle="tooltip" ngbTooltip="icon-chemistry"></i></li>
                                <li class="icons-list-item"><i class="icon icon-speedometer" data-bs-toggle="tooltip" ngbTooltip="icon-speedometer"></i></li>
                                <li class="icons-list-item"><i class="icon icon-shield" data-bs-toggle="tooltip" ngbTooltip="icon-shield"></i></li>
                                <li class="icons-list-item"><i class="icon icon-screen-tablet" data-bs-toggle="tooltip" ngbTooltip="icon-screen-tablet"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magic-wand" data-bs-toggle="tooltip" ngbTooltip="icon-magic-wand"></i></li>
                                <li class="icons-list-item"><i class="icon icon-hourglass" data-bs-toggle="tooltip" ngbTooltip="icon-hourglass"></i></li>
                                <li class="icons-list-item"><i class="icon icon-graduation" data-bs-toggle="tooltip" ngbTooltip="icon-graduation"></i></li>
                                <li class="icons-list-item"><i class="icon icon-ghost" data-bs-toggle="tooltip" ngbTooltip="icon-ghost"></i></li>
                                <li class="icons-list-item"><i class="icon icon-game-controller" data-bs-toggle="tooltip" ngbTooltip="icon-game-controller"></i></li>
                                <li class="icons-list-item"><i class="icon icon-fire" data-bs-toggle="tooltip" ngbTooltip="icon-fire"></i></li>
                                <li class="icons-list-item"><i class="icon icon-eyeglass" data-bs-toggle="tooltip" ngbTooltip="icon-eyeglass"></i></li>
                                <li class="icons-list-item"><i class="icon icon-envelope-open" data-bs-toggle="tooltip" ngbTooltip="icon-envelope-open"></i></li>
                                <li class="icons-list-item"><i class="icon icon-envelope-letter" data-bs-toggle="tooltip" ngbTooltip="icon-envelope-letter"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bell" data-bs-toggle="tooltip" ngbTooltip="icon-bell"></i></li>
                                <li class="icons-list-item"><i class="icon icon-badge" data-bs-toggle="tooltip" ngbTooltip="icon-badge"></i></li>
                                <li class="icons-list-item"><i class="icon icon-anchor" data-bs-toggle="tooltip" ngbTooltip="icon-anchor"></i></li>
                                <li class="icons-list-item"><i class="icon icon-wallet" data-bs-toggle="tooltip" ngbTooltip="icon-wallet"></i></li>
                                <li class="icons-list-item"><i class="icon icon-vector" data-bs-toggle="tooltip" ngbTooltip="icon-vector"></i></li>
                                <li class="icons-list-item"><i class="icon icon-speech" data-bs-toggle="tooltip" ngbTooltip="icon-speech"></i></li>
                                <li class="icons-list-item"><i class="icon icon-puzzle" data-bs-toggle="tooltip" ngbTooltip="icon-puzzle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-printer" data-bs-toggle="tooltip" ngbTooltip="icon-printer"></i></li>
                                <li class="icons-list-item"><i class="icon icon-present" data-bs-toggle="tooltip" ngbTooltip="icon-present"></i></li>
                                <li class="icons-list-item"><i class="icon icon-playlist" data-bs-toggle="tooltip" ngbTooltip="icon-playlist"></i></li>
                                <li class="icons-list-item"><i class="icon icon-pin" data-bs-toggle="tooltip" ngbTooltip="icon-pin"></i></li>
                                <li class="icons-list-item"><i class="icon icon-picture" data-bs-toggle="tooltip" ngbTooltip="icon-picture"></i></li>
                                <li class="icons-list-item"><i class="icon icon-handbag" data-bs-toggle="tooltip" ngbTooltip="icon-handbag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-globe-alt" data-bs-toggle="tooltip" ngbTooltip="icon-globe-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-globe" data-bs-toggle="tooltip" ngbTooltip="icon-globe"></i></li>
                                <li class="icons-list-item"><i class="icon icon-folder-alt" data-bs-toggle="tooltip" ngbTooltip="icon-folder-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-folder" data-bs-toggle="tooltip" ngbTooltip="icon-folder"></i></li>
                                <li class="icons-list-item"><i class="icon icon-film" data-bs-toggle="tooltip" ngbTooltip="icon-film"></i></li>
                                <li class="icons-list-item"><i class="icon icon-feed" data-bs-toggle="tooltip" ngbTooltip="icon-feed"></i></li>
                                <li class="icons-list-item"><i class="icon icon-drop" data-bs-toggle="tooltip" ngbTooltip="icon-drop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-drawer" data-bs-toggle="tooltip" ngbTooltip="icon-drawer"></i></li>
                                <li class="icons-list-item"><i class="icon icon-docs" data-bs-toggle="tooltip" ngbTooltip="icon-docs"></i></li>
                                <li class="icons-list-item"><i class="icon icon-doc" data-bs-toggle="tooltip" ngbTooltip="icon-doc"></i></li>
                                <li class="icons-list-item"><i class="icon icon-diamond" data-bs-toggle="tooltip" ngbTooltip="icon-diamond"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cup" data-bs-toggle="tooltip" ngbTooltip="icon-cup"></i></li>
                                <li class="icons-list-item"><i class="icon icon-calculator" data-bs-toggle="tooltip" ngbTooltip="icon-calculator"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bubbles" data-bs-toggle="tooltip" ngbTooltip="icon-bubbles"></i></li>
                                <li class="icons-list-item"><i class="icon icon-briefcase" data-bs-toggle="tooltip" ngbTooltip="icon-briefcase"></i></li>
                                <li class="icons-list-item"><i class="icon icon-book-open" data-bs-toggle="tooltip" ngbTooltip="icon-book-open"></i></li>
                                <li class="icons-list-item"><i class="icon icon-basket-loaded" data-bs-toggle="tooltip" ngbTooltip="icon-basket-loaded"></i></li>
                                <li class="icons-list-item"><i class="icon icon-basket" data-bs-toggle="tooltip" ngbTooltip="icon-basket"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bag" data-bs-toggle="tooltip" ngbTooltip="icon-bag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-action-undo" data-bs-toggle="tooltip" ngbTooltip="icon-action-undo"></i></li>
                                <li class="icons-list-item"><i class="icon icon-action-redo" data-bs-toggle="tooltip" ngbTooltip="icon-action-redo"></i></li>
                                <li class="icons-list-item"><i class="icon icon-wrench" data-bs-toggle="tooltip" ngbTooltip="icon-wrench"></i></li>
                                <li class="icons-list-item"><i class="icon icon-umbrella" data-bs-toggle="tooltip" ngbTooltip="icon-umbrella"></i></li>
                                <li class="icons-list-item"><i class="icon icon-trash" data-bs-toggle="tooltip" ngbTooltip="icon-trash"></i></li>
                                <li class="icons-list-item"><i class="icon icon-tag" data-bs-toggle="tooltip" ngbTooltip="icon-tag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-support" data-bs-toggle="tooltip" ngbTooltip="icon-support"></i></li>
                                <li class="icons-list-item"><i class="icon icon-frame" data-bs-toggle="tooltip" ngbTooltip="icon-frame"></i></li>
                                <li class="icons-list-item"><i class="icon icon icon-size-fullscreen" data-bs-toggle="tooltip" ngbTooltip="icon-size-fullscreen"></i></li>
                                <li class="icons-list-item"><i class="icon icon-size-actual" data-bs-toggle="tooltip" ngbTooltip="icon-size-actual"></i></li>
                                <li class="icons-list-item"><i class="icon icon-shuffle" data-bs-toggle="tooltip" ngbTooltip="icon-shuffle"></i></li>
                                <li class="icons-list-item"><i class="icon icon-share-alt" data-bs-toggle="tooltip" ngbTooltip="icon-share-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-share" data-bs-toggle="tooltip" ngbTooltip="icon-share"></i></li>
                                <li class="icons-list-item"><i class="icon icon-rocket" data-bs-toggle="tooltip" ngbTooltip="icon-rocket"></i></li>
                                <li class="icons-list-item"><i class="icon icon-question" data-bs-toggle="tooltip" ngbTooltip="icon-question"></i></li>
                                <li class="icons-list-item"><i class="icon icon-pie-chart" data-bs-toggle="tooltip" ngbTooltip="icon-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="icon icon-pencil" data-bs-toggle="tooltip" ngbTooltip="icon-pencil"></i></li>
                                <li class="icons-list-item"><i class="icon icon-note" data-bs-toggle="tooltip" ngbTooltip="icon-note"></i></li>
                                <li class="icons-list-item"><i class="icon icon-loop" data-bs-toggle="tooltip" ngbTooltip="icon-loop"></i></li>
                                <li class="icons-list-item"><i class="icon icon-home" data-bs-toggle="tooltip" ngbTooltip="icon-home"></i></li>
                                <li class="icons-list-item"><i class="icon icon-grid" data-bs-toggle="tooltip" ngbTooltip="icon-grid"></i></li>
                                <li class="icons-list-item"><i class="icon icon-graph" data-bs-toggle="tooltip" ngbTooltip="icon-graph"></i></li>
                                <li class="icons-list-item"><i class="icon icon-microphone" data-bs-toggle="tooltip" ngbTooltip="icon-microphone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-music-tone-alt" data-bs-toggle="tooltip" ngbTooltip="icon-music-tone-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-music-tone" data-bs-toggle="tooltip" ngbTooltip="icon-music-tone"></i></li>
                                <li class="icons-list-item"><i class="icon icon-earphones-alt" data-bs-toggle="tooltip" ngbTooltip="icon-earphones-alt"></i></li>
                                <li class="icons-list-item"><i class="icon icon-earphones" data-bs-toggle="tooltip" ngbTooltip="icon-earphones"></i></li>
                                <li class="icons-list-item"><i class="icon icon-equalizer" data-bs-toggle="tooltip" ngbTooltip="icon-equalizer"></i></li>
                                <li class="icons-list-item"><i class="icon icon-like" data-bs-toggle="tooltip" ngbTooltip="icon-like"></i></li>
                                <li class="icons-list-item"><i class="icon icon-dislike" data-bs-toggle="tooltip" ngbTooltip="icon-dislike"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-start" data-bs-toggle="tooltip" ngbTooltip="icon-control-start"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-rewind" data-bs-toggle="tooltip" ngbTooltip="icon-control-rewind"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-play" data-bs-toggle="tooltip" ngbTooltip="icon-control-play"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-pause" data-bs-toggle="tooltip" ngbTooltip="icon-control-pause"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-forward" data-bs-toggle="tooltip" ngbTooltip="icon-control-forward"></i></li>
                                <li class="icons-list-item"><i class="icon icon-control-end" data-bs-toggle="tooltip" ngbTooltip="icon-control-end"></i></li>
                                <li class="icons-list-item"><i class="icon icon-volume-1" data-bs-toggle="tooltip" ngbTooltip="icon-volume-1"></i></li>
                                <li class="icons-list-item"><i class="icon icon-volume-2" data-bs-toggle="tooltip" ngbTooltip="icon-volume-2"></i></li>
                                <li class="icons-list-item"><i class="icon icon-volume-off" data-bs-toggle="tooltip" ngbTooltip="icon-volume-off"></i></li>
                                <li class="icons-list-item"><i class="icon icon-calendar" data-bs-toggle="tooltip" ngbTooltip="icon-calendar"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bulb" data-bs-toggle="tooltip" ngbTooltip="icon-bulb"></i></li>
                                <li class="icons-list-item"><i class="icon icon-chart" data-bs-toggle="tooltip" ngbTooltip="icon-chart"></i></li>
                                <li class="icons-list-item"><i class="icon icon-ban" data-bs-toggle="tooltip" ngbTooltip="icon-ban"></i></li>
                                <li class="icons-list-item"><i class="icon icon-bubble" data-bs-toggle="tooltip" ngbTooltip="icon-bubble"></i></li>
                                <li class="icons-list-item"><i class="icon icon-camrecorder" data-bs-toggle="tooltip" ngbTooltip="icon-camrecorder"></i></li>
                                <li class="icons-list-item"><i class="icon icon-camera" data-bs-toggle="tooltip" ngbTooltip="icon-camera"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cloud-download" data-bs-toggle="tooltip" ngbTooltip="icon-cloud-download"></i></li>
                                <li class="icons-list-item"><i class="icon icon-cloud-upload" data-bs-toggle="tooltip" ngbTooltip="icon-cloud-upload"></i></li>
                                <li class="icons-list-item"><i class="icon icon-envelope" data-bs-toggle="tooltip" ngbTooltip="icon-envelope"></i></li>
                                <li class="icons-list-item"><i class="icon icon-eye" data-bs-toggle="tooltip" ngbTooltip="icon-eye"></i></li>
                                <li class="icons-list-item"><i class="icon icon-flag" data-bs-toggle="tooltip" ngbTooltip="icon-flag"></i></li>
                                <li class="icons-list-item"><i class="icon icon-heart" data-bs-toggle="tooltip" ngbTooltip="icon-heart"></i></li>
                                <li class="icons-list-item"><i class="icon icon-info" data-bs-toggle="tooltip" ngbTooltip="icon-info"></i></li>
                                <li class="icons-list-item"><i class="icon icon-key" data-bs-toggle="tooltip" ngbTooltip="icon-key"></i></li>
                                <li class="icons-list-item"><i class="icon icon-link" data-bs-toggle="tooltip" ngbTooltip="icon-link"></i></li>
                                <li class="icons-list-item"><i class="icon icon-lock" data-bs-toggle="tooltip" ngbTooltip="icon-lock"></i></li>
                                <li class="icons-list-item"><i class="icon icon-lock-open" data-bs-toggle="tooltip" ngbTooltip="icon-lock-open"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnifier" data-bs-toggle="tooltip" ngbTooltip="icon-magnifier"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnifier-add" data-bs-toggle="tooltip" ngbTooltip="icon-magnifier-add"></i></li>
                                <li class="icons-list-item"><i class="icon icon-magnifier-remove" data-bs-toggle="tooltip" ngbTooltip="icon-magnifier-remove"></i></li>
                                <li class="icons-list-item"><i class="icon icon-paper-clip" data-bs-toggle="tooltip" ngbTooltip="icon-paper-clip"></i></li>
                                <li class="icons-list-item"><i class="icon icon-paper-plane" data-bs-toggle="tooltip" ngbTooltip="icon-paper-plane"></i></li>
                                <li class="icons-list-item"><i class="icon icon-power" data-bs-toggle="tooltip" ngbTooltip="icon-power"></i></li>
                                <li class="icons-list-item"><i class="icon icon-refresh" data-bs-toggle="tooltip" ngbTooltip="icon-refresh"></i></li>
                                <li class="icons-list-item"><i class="icon icon-reload" data-bs-toggle="tooltip" ngbTooltip="icon-reload"></i></li>
                                <li class="icons-list-item"><i class="icon icon-settings" data-bs-toggle="tooltip" ngbTooltip="icon-settings"></i></li>
                                <li class="icons-list-item"><i class="icon icon-star" data-bs-toggle="tooltip" ngbTooltip="icon-star"></i></li>
                                <li class="icons-list-item"><i class="icon icon-symbol-female" data-bs-toggle="tooltip" ngbTooltip="icon-symbol-female"></i></li>
                                <li class="icons-list-item"><i class="icon icon-symbol-male" data-bs-toggle="tooltip" ngbTooltip="icon-symbol-male"></i></li>
                                <li class="icons-list-item"><i class="icon icon-target" data-bs-toggle="tooltip" ngbTooltip="icon-target"></i></li>
                                <li class="icons-list-item"><i class="icon icon-credit-card" data-bs-toggle="tooltip" ngbTooltip="icon-credit-card"></i></li>
                                <li class="icons-list-item"><i class="icon icon-paypal" data-bs-toggle="tooltip" ngbTooltip="icon-paypal"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-tumblr" data-bs-toggle="tooltip" ngbTooltip="icon-social-tumblr"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-twitter" data-bs-toggle="tooltip" ngbTooltip="icon-social-twitter"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-facebook" data-bs-toggle="tooltip" ngbTooltip="icon-social-facebook"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-instagram" data-bs-toggle="tooltip" ngbTooltip="icon-social-instagram"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-linkedin" data-bs-toggle="tooltip" ngbTooltip="icon-social-linkedin"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-pinterest" data-bs-toggle="tooltip" ngbTooltip="icon-social-pinterest"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-github" data-bs-toggle="tooltip" ngbTooltip="icon-social-github"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-google" data-bs-toggle="tooltip" ngbTooltip="icon-social-google"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-reddit" data-bs-toggle="tooltip" ngbTooltip="icon-social-reddit"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-skype" data-bs-toggle="tooltip" ngbTooltip="icon-social-skype"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-dribbble" data-bs-toggle="tooltip" ngbTooltip="icon-social-dribbble"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-behance" data-bs-toggle="tooltip" ngbTooltip="icon-social-behance"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-foursqare" data-bs-toggle="tooltip" ngbTooltip="icon-social-foursqare"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-soundcloud" data-bs-toggle="tooltip" ngbTooltip="icon-social-soundcloud"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-spotify" data-bs-toggle="tooltip" ngbTooltip="icon-social-spotify"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-stumbleupon" data-bs-toggle="tooltip" ngbTooltip="icon-social-stumbleupon"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-youtube" data-bs-toggle="tooltip" ngbTooltip="icon-social-youtube"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-dropbox" data-bs-toggle="tooltip" ngbTooltip="icon-social-dropbox"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-vkontakte" data-bs-toggle="tooltip" ngbTooltip="icon-social-vkontakte"></i></li>
                                <li class="icons-list-item"><i class="icon icon-social-steam" data-bs-toggle="tooltip" ngbTooltip="icon-social-steam"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW CLOSED -->
</div>